*{
	margin: auto;
	background-color: rgb(255, 142, 170);'
}
button{
        width: 200px;
        height: 80px;
        border-radius: 15px;
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        margin-left: 25%;
        margin-top: 15%;
        color: black;
        border: 1px solid black;
        background-color: #fee9d9;
        
}