*{
	margin: auto;
	margin: 0px;
	background-color: white;
}
button{
        width: 200px;
        height: 80px;
        border-radius: 15px;
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        margin-left: 43%;
        margin-top: 15%;
        color: black;
        border: 1px solid black;
        background-color: pink;
}
p{
	color:  black;
	font-size: 50px;
	text-align: center;
	margin-top: 15%;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}